.qor-layout .mdl-layout__header, .qor-layout .mdl-layout__tab-bar {
    background-color: black;
}

.qor-layout__sidebar > .sidebar-header {
    display: block;
    float: left;
    color: transparent;
    align-content: center;
    background: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    padding: 5px;
    background-origin: content-box;
}

.sidebar-header h5 {
    color: black;
    text-align: right;
}

[qor-icon-name*="Recipes"]>a::before {
    content: "local_drink";
}

[qor-icon-name*="Batches"]>a::before {
    content: "local_offer";
}

[qor-icon-name*="Events"]>a::before {
    content: "event_note";
}